.smalltext {
  	font-size: 12px;
    font-family: 'Bitter', serif;
}

.bg {
    /* The image used */
    background-image: url("../img/bg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.btnWallet {
    background-color: #fcd605;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.input [type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #fcd605; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Bitter', serif;
}


/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;

    padding: 20px;
}

/**
 * Top Nav
 */
.top-nav {
	padding: 15px 25px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	height: 90px;
	box-sizing: border-box;
	vertical-align: middle;
	background-color: #f5f5f5;
	transition: background-color 0.5s;
}
.top-nav .coin-title {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-left: 80px;
	color: #b4a0ff;
	position: relative;
	top: 15px;
}
.top-nav .coin-logo {
	position: absolute;
	top: 11px;
	left: 20px;
}
.top-nav .coin-title .trademark {
	font-size: 13px;
	margin: 0 -5px;
	position: relative;
	top: -4px;
}
.top-nav .right-content {
	float: right;
	height: 100%;
}
.top-nav .center-content {
	float: left;
	height: 100%;
  margin-top: 14px;
  margin-left: 80px;
}
.top-nav .right-content .general-link {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 40px;
	position: relative;
	color: #909090;
}
.top-nav #language-select,
.top-nav #general-link-select {
	font-size: 16px;
	padding: 3px 15px;
	position: relative;
	top: -2px;
	color: white;
	max-width: 180px;
	text-transform: uppercase;
}
.top-nav #general-link-select {
	display: none;
	width: 100px;
	margin-right: 10px;
}
.top-nav .link-select-dropdown a {
	color: rgba(0,0,0, 0.87) !important;
	font-weight: normal !important;
	font-size: initial !important;
}
.top-nav .general-links {
	display: inline-block;
}
.top-nav #language-select img {
	position: relative;
	top: -1px;
}
.top-nav .language-select-dropdown {
	width: 150px;
}
.top-nav .language-select-dropdown li img {
	position: relative;
	top: -2px;
	margin-right: 5px;
}
.top-nav .right-content .menu-icon {
	position: absolute;
	top: 23px;
	cursor: pointer;
	font-size: 42px;
	color: #a8b4c2;
	right: 25px;
	display: none;
}
.top-nav .right-content .before-bars {
	position: relative;
	right: 0; /* 75px */
	display: inline-block;
	height: 100%;
	line-height: 62px;
}

.body{
  padding-top:50px;
  background: #555;
}

.flip {
  -webkit-perspective: 800;
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;

}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
}
.flip .card .img {
   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 0px solid #fff;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.inner{margin:0px !important;}
